html {
    box-sizing: border-box;
 }

*, *::before, *::after {
    box-sizing: inherit;
 }

body { 
    overflow-y: scroll;
    font: 100% / 162% BlinkMacSystemFont, -apple-system, 'Segoe UI', roboto, helvetica, arial, sans-serif;
 }

h1 {
    font-size: 1.25em;
    text-align: center;
    text-transform: uppercase;
 }

h2 {
    font-size: 1em;
 }

#container {
    max-width: 36em;
    margin: auto;
    background-color: #fff;
 }

#container input {
    /*position: absolute;
    left: -999em;*/
 }

.information {
    padding: 1em;
    margin: 0.5em 0;
    line-height: 1.1em;
 }

.information div {
    display: none;
 }

#r0:checked ~ .information  #rm0,
#r1:checked ~ .information  #rm1,
#r2:checked ~ .information  #rm2,
#r3:checked ~ .information  #rm3 {
    display: block;
 }

#r0:checked ~ .information:nth-of-type(2),
#r0:checked ~ .information:nth-of-type(3),
#r0:checked ~ .information:nth-of-type(4),
#r1:checked ~ .information:nth-of-type(1),
#r1:checked ~ .information:nth-of-type(3),
#r1:checked ~ .information:nth-of-type(4),
#r2:checked ~ .information:nth-of-type(1),
#r2:checked ~ .information:nth-of-type(2),
#r2:checked ~ .information:nth-of-type(4),
#r3:checked ~ .information:nth-of-type(1),
#r3:checked ~ .information:nth-of-type(2),
#r3:checked ~ .information:nth-of-type(3) {
    display: none;
 }

#r0:checked ~ .information  label[for=r0],
#r1:checked ~ .information  label[for=r1],
#r2:checked ~ .information  label[for=r2],
#r3:checked ~ .information  label[for=r3] {
    display: none;
 }

.information label{
    font-weight: bold;
    color: #000;
    margin-left: 1em;
    cursor: pointer;
 }

.information p {
    font-size: 0.9em;
    text-align: justify;
 }

.information em {
    display: block;
    margin-bottom: 1em;
 }