.post {
	padding: 20px
	background: #f1f1f1;
	font-size: 18px;
}
#more {
	display: none;
}

.stylesheet {
	width: 1200px;
	margin: auto;
}

li {
    margin-bottom: 10px;
}

.cool-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    //transition: width .3s;
}