body {
	font-family: sans-serif;
	background-color:slategray;
	font-size: 15px;
}

img {
	border-radius: 20%;
	padding: 2px;
}

div {
	border: 15px solid black;
	border-width: 3px;
	padding: 25px;
	margin: 10px;
	border-radius: 20px;
	height: 250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	text-align: left;
	height: 50%;
}

a {
	color: black;
}

.dropdown {
	background-color: black;
	color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	text-align: left;
}

.tweak {
	
}