body {
	font-family: monospace;
	background-color:slategray;
	font-size: 12px;
	
}

img {
	border-radius: 20%;
	padding: 2px;
}

h1 {
	text-align: center;
	padding-top: 120px;
}

a:link {
	text-decoration: none;
}

a {
	transition: 200ms;
	color: black;
}

a:hover {
	text-decoration: underline;
}

.imgsingle:hover, .imgsingle:active {
	box-shadow: 0px 0px 10px black;
}

.infobox {
	background-color: black;
	color: white;
	width: 800px;
	padding: 25px;
	margin: 10px;
	border-radius: 20px;
	height: 250px;
	text-align: left;
	transition: 200ms;
}

.imgsingle {
	width: 57.75px;
	height: 54.75px;
	transition: 200ms;
}

.backgroundnav {
	background-color: black;
	width: 100%;
	left: 0;
	right: 0;
	position: fixed;
	display: block;
	text-align: center;
	padding: 25px;
	top: 0;
}

.divoutline {
	border: 3px solid black;
	padding: 25px;
	border-radius: 20px;
	text-align: left;
	transition: 200ms;
	display: inline-block;
	width: 160px;
	height: 350px;
	min-height: 100px;
	overflow: hidden;
}

.textnav {
	color: black;
	padding: 10px 10px;
	border-radius: 10px;
	background-color: white;
	transition: 200ms;
}

#textnav:hover {
	text-decoration: none;
	background-color: lightblue;
}

#copyright {
	text-align: center;
	font-size: 12px;
	padding-top: 10px;
}

#tweaks {
	padding-top: 40px;
	text-align: left;
	padding-left: 30px;
	padding-bottom: 10px;
}

#subhead {
	text-align: center;
	padding-bottom: 50px;
}

#outlinedevices {
	border: 3px solid black;
	padding: 25px;
	margin: 10px;
	border-radius: 20px;
	height: 250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	text-align: left;
	height: 50%;
	transition: 200ms;
}