@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  background-color: rgb(40, 45, 50);
  font-family: 'Roboto', sans-serif;
  color: white;
}

.sourcesicons {
  width: 100px;
  border-radius: 20px;
  margin-top: 20px;
  background-color: transparent;
  transition: 1000ms;
  margin-left: 30px;
  margin-top: 30px;
}

.sourcesicons:hover {
  cursor: pointer;
}

#zebra, #installer, #sileo, #cydia, #twitter, #reddit, #email {
  display: none;
  opacity: 0;
}

nav {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 600px;
  background: linear-gradient(to bottom, rgb(20, 25, 30) 60%, rgb(40, 45, 50) 100%);
}

#pp {
  width: 50px;
  /* margin-left: 5px; */
  position: absolute;
}

h1 {
  position: absolute;
  top: 6px;
  left: 45px;
  opacity: 0.7;
  font-size: 15px;
}

#description {
  opacity: 0.2;
  font-size: 12px;
  position: absolute;
  top: 35px;
  left: 26px;
}

#repos {
  background-color: rgba(255, 255, 255, 0.2);
  height: 100px;
  width: 80%;
  max-width: 650px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 340px;
  border-radius: 5px;
  overflow: hidden;
  transition: 200ms;
}

#repos:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

#repostitle {
  color: white;
  margin-top: -40px;
  background-color:  rgb(40, 45, 50);
  width: 150px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  font-weight: lighter;
  font-size: 18px;
  height: 20px;
  position: absolute;
  top: 340px;
  height: 20px;
  left: 50%;
  transform: translate(-50%);
}

.repoclass {
  display: inline-block;
  height: 80px;
  width: 60px;
  margin-left: 14px;
  text-align: center;
}
.repoclass:hover {
  cursor: pointer;
}

.repoicon {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-top: 5px;
}

#movinganim {
  margin-left: 9px;
  margin-top: 10px;
  animation: 30s infinite slidein linear;
  animation-delay: -10s;
}

.repotext {
  font-size: 13px;
  margin-top: 5px;
}

#tweaks {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2);
  height: 100px;
  width: 80%;
  max-width: 650px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 230px;
  border-radius: 5px;
  transition: 200ms;
}

#tweaks:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

#tweakstitle {
  color: white;
  margin-top: -40px;
  background-color:  rgb(40, 45, 50);
  width: 150px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  font-weight: lighter;
  font-size: 18px;
  position: absolute;
  top: 505px;
  height: 20px;
  left: 50%;
  transform: translate(-50%);
}

.tweaksclass {
  display: inline-block;
  height: 80px;
  width: 60px;
  margin-left: 14px;
  text-align: center;
}
.tweaksclass:hover {
  cursor: pointer;
}

.tweaksicon {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 0px;
}

#movinganim2 {
  margin-left: 9px;
  margin-top: 10px;
  animation: 30s infinite slidein linear;
  animation-delay: -10s;
}
/* 
#movinganim2:hover, #movinganim3:hover, #movinganim:hover {
  animation-play-state: paused;
} */

.tweakstext {
  font-size: 13px;
  margin-top: 5px;
}

#mytweaks {
  background-color: rgba(255, 255, 255, 0.2);
  height: 100px;
  max-width: 650px;
  width: 80%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 120px;
  border-radius: 5px;
  overflow: hidden;
  transition: 200ms;
}

#mytweaks:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

#mytweaks:hover #title1 {
  display: block;
  opacity: 1;
}
#repos:hover #title2 {
  display: block;
  opacity: 1;
}
#tweaks:hover #title3 {
  display: block;
  opacity: 1;
}

#mytweakstitle {
  color: white;
  margin-top: -40px;
  background-color:  rgb(40, 45, 50);
  width: 150px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  font-weight: lighter;
  font-size: 18px;
  position: absolute;
  height: 20px;
  top: 175px;
  left: 50%;
  transform: translate(-50%);
}

.mytweaksclass {
  display: inline-block;
  height: 80px;
  width: 60px;
  margin-left: 14px;
  text-align: center;
}
.mytweaksclass:hover {
  cursor: pointer;
}

.mytweaksicon {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 0px;
}

#movinganim3 {
  margin-left: 9px;
  margin-top: 10px;
  animation: 30s infinite slidein linear;
  animation-delay: -10s;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: -100%;
    width: 100%;
  }
}

.mytweakstext {
  font-size: 13px;
  margin-top: 5px;
}

#block1 {
  transition: 1000ms;
  background-color: black;
  width: 300px;
  height: 300px;
  margin-top: 525px;
  margin-right: 370px;
  border-radius: 20px;
}
#block2 {
  transition: 1000ms;
  background-color: black;
  width: 300px;
  height: 300px;
  margin-top: -300px;
  margin-left: 370px;
  border-radius: 20px;
}
#blockscenter {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 70px;
  height: 300px;
  z-index: -999;
}

.movingtitles {
  position: absolute;
  padding: 5px;
  background-color: white;
  color: black;
  width: 150px;
  margin-left: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 15px;
  font-weight: lighter;
  box-shadow: 0 0 10px black;
}

#title1, #title2, #title3 {
  display: none;
  opacity: 0;
}
